.parallax { 
    /* The image used */
    background-image: url("../images/microbes.jpg");
    
    /* Set a specific height */
    height: 50% !important; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 150px 0px 100px 0px;
    font-size: 50pt;
    color: rgb(77, 77, 77);
}

h2 {
    padding: 20px 0px 0px 0px;
    font-size: 30pt;
    color: rgb(77,77, 77);
}

h3 {
    padding: 10px 0px 0px 0px;
    color: rgb(77,77, 77);
}

#barChart {
    margin: 00px 0px 0px 60px;
}
#subjectID {
    background-color: peru;
}
/* demographic card */
.card-header {
    font-size: 18px;
    text-align: center;
}
